# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Markdown Sort List'
      'submenu': [
        {
          'label': 'Convert'
          'command': 'markdown-sort-list:convert'
        }
      ]
    ]
  }
]
